@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
$main-font: "Cabin";
$font-regular: 400;
$font-bold: 600;
//
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
$main-title: "Rubik";
$big-title: 600;
$regular-title: 400;