include ../config/config

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/styles.css")
        link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", 
        rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", 
        crossorigin="anonymous")
        title Document
    body
        header#header.header
        a(href="/").logo
            img(src="./assets/img/logo.png", alt="Logo-Web")
            a(href="/").logo
            .topbar
                .topbar__icon
                    i.fa.fa-user
                    span    Login
                .topbar__icon
                    i.fa.fa-user-plus
                    span    Register
                
                
                .toggle-menu
                    #toggle-menu.toggle-menu__icon
                    i.fa.fa-bars
                   

        #sidebar.sidebar
            block menu
        main.main   
