body {
    background-color: #222;
    color: #aaa;
    min-height: 100vh;
    @include laptod {
        background-color: red;
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: 60px 1fr;
    }
}