.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0.01rem;
    left: 0.5rem;
    z-index: 10;
    height: 30px;
    width: 40px;
    &__img {
        max-width: 100%;
    }
    @include laptod {
        position: absolute;
        left: 2.5%;
        width: 10%;
        top: 2.5rem;
    }
}