extends ../templates/template
block menu
    include ../includes/main-menu
block title
    h1.title Conócenos
    .about
        .about__img.show
            img(src="assets/img/about.jpg" alt="About Image 1")
        .about__text.show
                h2 Title 1
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident laborum at fugiat voluptate nisi quos iusto aperiam esse repellat, ab iure neque aspernatur temporibus illum nam itaque perspiciatis voluptatem. Saepe!
        .about__img
            img(src="assets/img/about2.jpg" alt="About Image 2")
        .about__text
                h2 Title 2
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident laborum at fugiat voluptate nisi quos iusto aperiam esse repellat, ab iure neque aspernatur temporibus illum nam itaque perspiciatis voluptatem. Saepe!
        .about__img
            img(src="assets/img/about.jpg" alt="About Image 3")
        .about__text
                h2 Title 3
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos iusto aperiam esse repellat, ab iure neque aspernatur temporibus illum nam itaque perspiciatis voluptatem. Saepe!
    .controls
        i.fa.fa-chevron-circle-left#prev
        i.fa.fa-chevron-circle-right#next