extends ../templates/template
block menu
    include ../includes/main-menu
block title
    

    
    h1.title Bienvenidos
block main
    #gallery.gallery
        .gallery__item
            img(src="assets/img/gallery/1.jpg" alt="Image 1 Gallery")
        .gallery__item
            img(src="assets/img/gallery/2.jpg" alt="Image 2 Gallery")
        .gallery__item
            img(src="assets/img/gallery/3.jpg" alt="Image 3 Gallery")
        .gallery__item
            img(src="assets/img/gallery/4.jpg" alt="Image 4 Gallery")
        .gallery__item
            img(src="assets/img/gallery/5.jpg" alt="Image 5 Gallery")
        .gallery__item
            img(src="assets/img/gallery/1.jpg" alt="Image 1 Gallery")
        .gallery__item
            img(src="assets/img/gallery/2.jpg" alt="Image 2 Gallery")
        .gallery__item
            img(src="assets/img/gallery/3.jpg" alt="Image 3 Gallery")
        .gallery__item
            img(src="assets/img/gallery/4.jpg" alt="Image 4 Gallery")
        .gallery__item
            img(src="assets/img/gallery/5.jpg" alt="Image 5 Gallery")
        .gallery__item
            img(src="assets/img/gallery/1.jpg" alt="Image 1 Gallery")
        .gallery__item
            img(src="assets/img/gallery/2.jpg" alt="Image 2 Gallery")
        .gallery__item
            img(src="assets/img/gallery/3.jpg" alt="Image 3 Gallery")
        .gallery__item
            img(src="assets/img/gallery/4.jpg" alt="Image 4 Gallery")
        .gallery__item
            img(src="assets/img/gallery/5.jpg" alt="Image 5 Gallery")
        .gallery__item
            img(src="assets/img/gallery/1.jpg" alt="Image 1 Gallery")
        .gallery__item
            img(src="assets/img/gallery/2.jpg" alt="Image 2 Gallery")
        .gallery__item
            img(src="assets/img/gallery/3.jpg" alt="Image 3 Gallery")
        .gallery__item
            img(src="assets/img/gallery/4.jpg" alt="Image 4 Gallery")
        .gallery__item
            img(src="assets/img/gallery/5.jpg" alt="Image 5 Gallery")
        .gallery__item
            img(src="assets/img/gallery/1.jpg" alt="Image 1 Gallery")
        .gallery__item
            img(src="assets/img/gallery/2.jpg" alt="Image 2 Gallery")
        .gallery__item
            img(src="assets/img/gallery/3.jpg" alt="Image 3 Gallery")
        .gallery__item
            img(src="assets/img/gallery/4.jpg" alt="Image 4 Gallery")
        .gallery__item
            img(src="assets/img/gallery/5.jpg" alt="Image 5 Gallery")
        .gallery__item
            img(src="assets/img/gallery/1.jpg" alt="Image 1 Gallery")
        .gallery__item
            img(src="assets/img/gallery/2.jpg" alt="Image 2 Gallery")
        .gallery__item
            img(src="assets/img/gallery/3.jpg" alt="Image 3 Gallery")
        .gallery__item
            img(src="assets/img/gallery/4.jpg" alt="Image 4 Gallery")
        .gallery__item
            img(src="assets/img/gallery/5.jpg" alt="Image 5 Gallery")
            .gallery__item
            img(src="assets/img/gallery/1.jpg" alt="Image 1 Gallery")
        .gallery__item
            img(src="assets/img/gallery/2.jpg" alt="Image 2 Gallery")
        .gallery__item
            img(src="assets/img/gallery/3.jpg" alt="Image 3 Gallery")
        .gallery__item
            img(src="assets/img/gallery/4.jpg" alt="Image 4 Gallery")
        .gallery__item
            img(src="assets/img/gallery/5.jpg" alt="Image 5 Gallery")
        .gallery__item
            img(src="assets/img/gallery/1.jpg" alt="Image 1 Gallery")
        .gallery__item
            img(src="assets/img/gallery/2.jpg" alt="Image 2 Gallery")
        .gallery__item
            img(src="assets/img/gallery/3.jpg" alt="Image 3 Gallery")
        .gallery__item
            img(src="assets/img/gallery/4.jpg" alt="Image 4 Gallery")
        .gallery__item
            img(src="assets/img/gallery/5.jpg" alt="Image 5 Gallery")   
block scripts
    script(src="/js/macy.js")